<!-- Default home page -->
<div class="default-page">
    <div ui-view="navigation">
      <ul>
        <li>
          <a ui-sref='paginationMessages'>messages pagination</a>
        </li>
        <li>
          <a ui-sref="loadingMessages">messages loading</a>
        </li>
        <li>
          <a ui-sref='root'> home</a>
        </li>
      </ul>
    </div>
    <div ui-view='content'>
      <i>Some content will load here!</i>
    </div>


</div>
