<h1> my messages</h1>
<form role="form" ng-submit="createMessage(newMessage)">
  <div class="form-group">
    <label for="messageTitle">Your Message</label>
    <input type="text" ng-model="newMessage.text" class="form-control" id="messageTitle">
    <button type="submit" class="btn btn-primary" ng-disabled="!newMessage.text">Send</button>
  </div>

</form>

<pagination total-items="(messages.length - 1)*itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
<pre>Page: {{currentPage}} / {{messages.length - 1}}</pre>

<div id="scrollArea" scroll>
  <div ng-repeat="(pageIndex,messagesPage) in messages">
    <table>
      <tr ng-repeat="message in messagesPage">
        <td>{{($index + 1)+(pageIndex * itemsPerPage)}}    </td>
        <td>{{message.createdAt}}        </td>
        <td>{{message.text}}       </td>
        <td><button class="btn btn-primary" ng-click="destroyMessage(message)"> delete </button></td>
      </tr>
    </table>
  </dage
</div>

